language = "python3"
#run = "python python-basic/basic.py"
#run = "python python-basic/list.py"
#run = "python python-basic/data.py"
#run = "python python-basic/case.py"
#run = "python python-basic/for.py"
#run = "python python-basic/function.py"
run = "python python-basic/inout.py"
